---
layout: page
title: Projects
---

<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <img src={{post.image}} width="64" height="64" style="float:left; padding-right:20px;">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}" style="display: inline-block;
                        vertical-align: middle;">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
            </div>
        {% endif %}
    {% endfor %}
</section>
